@import "tailwindcss";

:root {
  --foreground: #0b0b0b;
}

@theme {
  --font-sans: var(--font-alegreya);
  --font-display: var(--font-piazzolla);

  --color-foreground: var(--foreground);
  --color-secondary: #d9d7c1;
  --color-1: #b72270;
  --color-2: #524fa1;
  --color-3: #ef4136;
  --color-4: #00a79d;
}

@layer utilities {
  .font-sans {
    font-family: var(--font-alegreya);
  }

  .font-display {
    font-family: var(--font-piazzolla);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
}

.fade-in {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
